.DS_Store
*.sublime-*
node_modules
npm-debug.log
dist/
build/
.idea/
.sass-cache/
.tmp/
bower_components/

###Android###

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# Local configuration file (sdk path, etc)
local.properties

###Cordova###
cordova/platforms/android/.staging
cordova/platforms/android/ant-build
cordova/platforms/android/ant-gen
cordova/platforms/android/CordovaLib
cordova/platforms/**/*.log
cordova/platforms/**/www/**/*
