.DS_Store
*.sublime-*
node_modules
npm-debug.log
dist/
build/
.idea/
.sass-cache/
.tmp/
tmp/
bower_components/

###Android###

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# Local configuration file (sdk path, etc)
local.properties

###Cordova###
cordova/
